* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    mobile webkit -moz-tap-highlight-color: rgba(255, 255, 255, 0);
    -ms-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    position: absolute;
}

.main {
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    background-color: white;
    cursor: pointer;
}

/*ALL ELEMENT STYLING AND TRANSITION SHOULD BE INPUTTED HERE*/




.female{
    animation: 3.5s female-animation linear ;
    animation-delay: 1s;
    opacity: 0%;
}

@keyframes female-animation{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    75%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
       
}


.headline1{
    animation: 2.0s headline1-animation  ;
    animation-delay: 2.2s;
}

@keyframes headline1-animation{
    0%{
     transform: translate(-150px,0);
    }
    50%{
        transform: translate(0px,0);
    }
    75%{
        transform: translate(-0px,0);
    }
    100%{
    transform: translate(-150px,0);
    }
       
}

.headline2{
    animation: 2.0s headline2-animation  forwards;
    animation-delay: 4.5s;
}

@keyframes headline2-animation{
    0%{
     transform: translate(-180px,0);
    }
    50%{
        transform: translate(0px,0);
    }
    75%{
        transform: translate(0px,0);
    }
    100%{
    transform: translate(0px,0);
    }
       
}

.subheadline{
    animation: 2.2s subheadline-animation  forwards;
    animation-delay: 4.8s;
}

@keyframes subheadline-animation{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    75%{
        opacity: 100%;
    }
    100%{
        opacity: 100;
    }
       
}

.button{
    animation: 2.2s button-animation  forwards;
    animation-delay: 5.0s;
}

@keyframes button-animation{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    75%{
        opacity: 100%;
    }
    100%{
        opacity: 100;
    }
       
}

.logo{
    animation: 2.2s logo-animation  forwards;
    animation-delay: 5.0s;
}

@keyframes logo-animation{
    0%{
        transform: translate(150px,0);
       }
       50%{
           transform: translate(0px,0);
       }
       75%{
           transform: translate(0px,0);
       }
       100%{
       transform: translate(0px,0);
       }
       
}

.replay{
    position: absolute;
    left:  270px;
    animation: 2.2s replay-animation  forwards;
    animation-delay: 5.0s;
    opacity: 0;
}

@keyframes replay-animation{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    75%{
        opacity: 100%;
    }
    100%{
        opacity: 100;
    }
       
}